<a href="https://colab.research.google.com/github/qowngus33/Data-preprocessing/blob/main/vet_preprocessing2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

vet = pd.read_csv('fulldata_02_03_01_P_vet_v2.csv',encoding='utf-8')
vet

,Unnamed: 0,소재지전화,도로명전체주소,사업장명,Unnamed: 32
0,4429,NaN,경상북도 문경시 문경읍 청운로 70,문경가축병원,NaN
1,4482,571-9114,광주광역시 북구 양일로305번길 8 (일곡동),일곡동물병원,NaN
2,4483,NaN,광주광역시 북구 태봉로 37-6 (임동),우리동물병원,NaN
3,4484,062-574-7975,"광주광역시 북구 하서로 371, 1층 (양산동)",참좋은 동물병원,NaN
4,4485,224-7582,광주광역시 북구 서하로 319-1 (오치동),김앤강 동물병원,NaN
...,...,...,...,...,...
4977,9462,NaN,"경기도 남양주시 오남읍 진건오남로 778, 선일프라자 205호",하이 동물병원,NaN
4978,9463,NaN,"대전광역시 동구 계족로 510, 3층 (용전동)",케어동물병원,NaN
4979,9464,051-265-0114,"부산광역시 사하구 장림번영로 41, 1층 (장림동)",모아동물병원,NaN
4980,9465,032-569-6677,"인천광역시 서구 발산로 41, 4층 (원당동)",24시 더원 동물병원,NaN
4981,9466,02-420-9993,"서울특별시 송파구 가락로 162, 1층 (송파동)",한양동물병원,NaN

In [ ]:
vet = vet.drop(['Unnamed: 0', 'Unnamed: 32'], axis=1)

In [5]:
vet['소재지전화'] = vet['소재지전화'].fillna(value="없음")

vet['소재지전화'] = vet['소재지전화'].str.strip()
vet['도로명전체주소'] = vet['도로명전체주소'].str.strip()
vet['사업장명'] = vet['사업장명'].str.strip()

vet

             소재지전화                             도로명전체주소         사업장명
0               없음                 경상북도 문경시 문경읍 청운로 70       문경가축병원
1         571-9114           광주광역시 북구 양일로305번길 8 (일곡동)       일곡동물병원
2               없음              광주광역시 북구 태봉로 37-6 (임동)       우리동물병원
3     062-574-7975          광주광역시 북구 하서로 371, 1층 (양산동)     참좋은 동물병원
4         224-7582            광주광역시 북구 서하로 319-1 (오치동)     김앤강 동물병원
...            ...                                 ...          ...
4977            없음  경기도 남양주시 오남읍 진건오남로 778, 선일프라자 205호      하이 동물병원
4978            없음          대전광역시 동구 계족로 510, 3층 (용전동)       케어동물병원
4979  051-265-0114        부산광역시 사하구 장림번영로 41, 1층 (장림동)       모아동물병원
4980  032-569-6677           인천광역시 서구 발산로 41, 4층 (원당동)  24시 더원 동물병원
4981   02-420-9993         서울특별시 송파구 가락로 162, 1층 (송파동)       한양동물병원

[4982 rows x 3 columns]

In [12]:
call10 = vet['소재지전화'].str.extract('(\d\d\d-\d\d\d-\d\d\d\d)')
call10 = call10.dropna(subset=[0])
call10

                 0
3     062-574-7975
6     062-571-0011
9     062-576-7585
10    062-574-8276
11    062-571-2808
...            ...
4972  031-994-7953
4973  031-452-0119
4976  062-416-7975
4979  051-265-0114
4980  032-569-6677

[1684 rows x 1 columns]

In [18]:
vet.to_csv('fulldata_02_03_01_P_vet_v3.csv',encoding='utf-8')