<a href="https://colab.research.google.com/github/qowngus33/Data-preprocessing/blob/main/vet_preprocessingv5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

vet = pd.read_csv('fulldata_02_03_01_P_vet_v6.csv',encoding='utf-8')
vet

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,0,033-435-7279,강원도,홍천군,홍천읍,다나아 동물병원
1,1,033-252-3205,강원도,춘천시,후석로,춘천철원화천양구축산업협동조합
2,2,없음,강원도,평창군,평창읍,동성가축병원
3,3,없음,강원도,평창군,평창읍,동성가축병원
4,4,없음,강원도,평창군,평창읍,동성가축병원
...,...,...,...,...,...,...
4978,4979,없음,충청북도,괴산군,괴산읍,수암동물병원
4979,4980,043-847-7582,충청북도,충주시,형설로,용산동물병원
4980,4981,없음,충청북도,음성군,금왕읍,수아인동물병원
4981,4982,없음,충청북도,청주시,흥덕구,원 동물병원
4982,2524,054-733-7120,NaN,NaN,NaN,NaN

In [90]:
vet = vet.drop(["Unnamed: 0"], axis=1)
vet

        Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4       Unnamed: 5
0     033-435-7279        강원도        홍천군        홍천읍         다나아 동물병원
1     033-252-3205        강원도        춘천시        후석로  춘천철원화천양구축산업협동조합
2               없음        강원도        평창군        평창읍           동성가축병원
3               없음        강원도        평창군        평창읍           동성가축병원
4               없음        강원도        평창군        평창읍           동성가축병원
...            ...        ...        ...        ...              ...
4978            없음       충청북도        괴산군        괴산읍           수암동물병원
4979  043-847-7582       충청북도        충주시        형설로           용산동물병원
4980            없음       충청북도        음성군        금왕읍          수아인동물병원
4981            없음       충청북도        청주시        흥덕구           원 동물병원
4982  054-733-7120        NaN        NaN        NaN              NaN

[4983 rows x 5 columns]

In [91]:
vet = vet.rename(columns={'Unnamed: 1':'소재지전화'})
vet = vet.rename(columns={'Unnamed: 5':'사업장명'})
vet

             소재지전화 Unnamed: 2 Unnamed: 3 Unnamed: 4             사업장명
0     033-435-7279        강원도        홍천군        홍천읍         다나아 동물병원
1     033-252-3205        강원도        춘천시        후석로  춘천철원화천양구축산업협동조합
2               없음        강원도        평창군        평창읍           동성가축병원
3               없음        강원도        평창군        평창읍           동성가축병원
4               없음        강원도        평창군        평창읍           동성가축병원
...            ...        ...        ...        ...              ...
4978            없음       충청북도        괴산군        괴산읍           수암동물병원
4979  043-847-7582       충청북도        충주시        형설로           용산동물병원
4980            없음       충청북도        음성군        금왕읍          수아인동물병원
4981            없음       충청북도        청주시        흥덕구           원 동물병원
4982  054-733-7120        NaN        NaN        NaN              NaN

[4983 rows x 5 columns]

In [92]:
vet = vet.drop_duplicates()

In [93]:
vet = vet.reset_index(drop=True)
vet

             소재지전화 Unnamed: 2 Unnamed: 3 Unnamed: 4             사업장명
0     033-435-7279        강원도        홍천군        홍천읍         다나아 동물병원
1     033-252-3205        강원도        춘천시        후석로  춘천철원화천양구축산업협동조합
2               없음        강원도        평창군        평창읍           동성가축병원
3               없음        강원도        평창군       대관령면    국립축산과학원 한우연구소
4     033-574-0075        강원도        삼척시       오십천로           삼척동물병원
...            ...        ...        ...        ...              ...
4965            없음       충청북도        괴산군        괴산읍           수암동물병원
4966  043-847-7582       충청북도        충주시        형설로           용산동물병원
4967            없음       충청북도        음성군        금왕읍          수아인동물병원
4968            없음       충청북도        청주시        흥덕구           원 동물병원
4969  054-733-7120        NaN        NaN        NaN              NaN

[4970 rows x 5 columns]

In [94]:
vet = vet.dropna()
vet = vet.reset_index(drop=True)
vet

             소재지전화 Unnamed: 2 Unnamed: 3 Unnamed: 4             사업장명
0     033-435-7279        강원도        홍천군        홍천읍         다나아 동물병원
1     033-252-3205        강원도        춘천시        후석로  춘천철원화천양구축산업협동조합
2               없음        강원도        평창군        평창읍           동성가축병원
3               없음        강원도        평창군       대관령면    국립축산과학원 한우연구소
4     033-574-0075        강원도        삼척시       오십천로           삼척동물병원
...            ...        ...        ...        ...              ...
4963            없음       충청북도        괴산군        사리면            김동물병원
4964            없음       충청북도        괴산군        괴산읍           수암동물병원
4965  043-847-7582       충청북도        충주시        형설로           용산동물병원
4966            없음       충청북도        음성군        금왕읍          수아인동물병원
4967            없음       충청북도        청주시        흥덕구           원 동물병원

[4968 rows x 5 columns]

In [95]:
vet_original = pd.read_csv('fulldata_02_03_01_P_vet.csv',encoding='EUC-KR')
vet_original

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y),업무구분명,상세업무구분명,권리주체일련번호,총종업원수,Unnamed: 32
0,1,동물병원,02_03_01_P,3620000,362000001020120004,20121224,NaN,3,폐업,0002,...,U,2021-11-02 02:40:00.0,NaN,194205.750000,185704.245000,동물병원,NaN,000,0.0,NaN
1,2,동물병원,02_03_01_P,3620000,362000001020130001,20130312,NaN,3,폐업,0002,...,I,2018-08-31 23:59:59.0,NaN,187131.958566,189712.310000,동물병원,NaN,000,NaN,NaN
2,3,동물병원,02_03_01_P,3620000,362000001020160001,20160121,NaN,3,폐업,0002,...,I,2018-08-31 23:59:59.0,NaN,189132.523692,191478.416598,동물병원,NaN,L00,NaN,NaN
3,4,동물병원,02_03_01_P,3620000,362000001019910001,19910710,NaN,3,폐업,0002,...,U,2019-01-24 02:40:00.0,NaN,188395.475651,189857.285188,동물병원,NaN,000,NaN,NaN
4,5,동물병원,02_03_01_P,3620000,362000001020170001,20170105,NaN,3,폐업,0002,...,I,2018-08-31 23:59:59.0,NaN,189145.000000,191466.000000,동물병원,NaN,L00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9462,9463,동물병원,02_03_01_P,3990000,399000001020220001,20220519,NaN,1,영업/정상,0000,...,I,2022-05-21 00:22:47.0,NaN,218023.898491,466105.995760,동물병원,NaN,000,0.0,NaN
9463,9464,동물병원,02_03_01_P,3640000,364000001020220001,20220519,NaN,1,영업/정상,0000,...,I,2022-05-21 00:22:47.0,NaN,238808.750788,317465.331626,동물병원,NaN,000,0.0,NaN
9464,9465,동물병원,02_03_01_P,3340000,334000001020220002,20220519,NaN,1,영업/정상,0000,...,I,2022-05-21 00:22:47.0,NaN,379594.346228,177529.777143,동물병원,NaN,000,0.0,NaN
9465,9466,동물병원,02_03_01_P,3560000,356000001020220003,20220523,NaN,1,영업/정상,0000,...,I,2022-05-25 00:22:31.0,NaN,NaN,NaN,동물병원,NaN,000,0.0,NaN
9466,9467,동물병원,02_03_01_P,3230000,323000001020220005,20220523,NaN,1,영업/정상,0000,...,I,2022-05-25 00:22:31.0,NaN,209960.669882,444566.344556,동물병원,NaN,000,0.0,NaN

In [96]:
vet_original = vet_original.drop_duplicates()
vet_original = vet_original.reset_index(drop=True)
vet_original

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y),업무구분명,상세업무구분명,권리주체일련번호,총종업원수,Unnamed: 32
0,1,동물병원,02_03_01_P,3620000,362000001020120004,20121224,NaN,3,폐업,0002,...,U,2021-11-02 02:40:00.0,NaN,194205.750000,185704.245000,동물병원,NaN,000,0.0,NaN
1,2,동물병원,02_03_01_P,3620000,362000001020130001,20130312,NaN,3,폐업,0002,...,I,2018-08-31 23:59:59.0,NaN,187131.958566,189712.310000,동물병원,NaN,000,NaN,NaN
2,3,동물병원,02_03_01_P,3620000,362000001020160001,20160121,NaN,3,폐업,0002,...,I,2018-08-31 23:59:59.0,NaN,189132.523692,191478.416598,동물병원,NaN,L00,NaN,NaN
3,4,동물병원,02_03_01_P,3620000,362000001019910001,19910710,NaN,3,폐업,0002,...,U,2019-01-24 02:40:00.0,NaN,188395.475651,189857.285188,동물병원,NaN,000,NaN,NaN
4,5,동물병원,02_03_01_P,3620000,362000001020170001,20170105,NaN,3,폐업,0002,...,I,2018-08-31 23:59:59.0,NaN,189145.000000,191466.000000,동물병원,NaN,L00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9462,9463,동물병원,02_03_01_P,3990000,399000001020220001,20220519,NaN,1,영업/정상,0000,...,I,2022-05-21 00:22:47.0,NaN,218023.898491,466105.995760,동물병원,NaN,000,0.0,NaN
9463,9464,동물병원,02_03_01_P,3640000,364000001020220001,20220519,NaN,1,영업/정상,0000,...,I,2022-05-21 00:22:47.0,NaN,238808.750788,317465.331626,동물병원,NaN,000,0.0,NaN
9464,9465,동물병원,02_03_01_P,3340000,334000001020220002,20220519,NaN,1,영업/정상,0000,...,I,2022-05-21 00:22:47.0,NaN,379594.346228,177529.777143,동물병원,NaN,000,0.0,NaN
9465,9466,동물병원,02_03_01_P,3560000,356000001020220003,20220523,NaN,1,영업/정상,0000,...,I,2022-05-25 00:22:31.0,NaN,NaN,NaN,동물병원,NaN,000,0.0,NaN
9466,9467,동물병원,02_03_01_P,3230000,323000001020220005,20220523,NaN,1,영업/정상,0000,...,I,2022-05-25 00:22:31.0,NaN,209960.669882,444566.344556,동물병원,NaN,000,0.0,NaN

In [97]:
vet['전체주소'] = ""
vet

             소재지전화 Unnamed: 2 Unnamed: 3 Unnamed: 4             사업장명 전체주소
0     033-435-7279        강원도        홍천군        홍천읍         다나아 동물병원
1     033-252-3205        강원도        춘천시        후석로  춘천철원화천양구축산업협동조합
2               없음        강원도        평창군        평창읍           동성가축병원
3               없음        강원도        평창군       대관령면    국립축산과학원 한우연구소
4     033-574-0075        강원도        삼척시       오십천로           삼척동물병원
...            ...        ...        ...        ...              ...  ...
4963            없음       충청북도        괴산군        사리면            김동물병원
4964            없음       충청북도        괴산군        괴산읍           수암동물병원
4965  043-847-7582       충청북도        충주시        형설로           용산동물병원
4966            없음       충청북도        음성군        금왕읍          수아인동물병원
4967            없음       충청북도        청주시        흥덕구           원 동물병원

[4968 rows x 6 columns]

In [98]:
temp = vet_original.index[vet_original['사업장명'] == vet['사업장명'][0]].tolist()
temp
vet_original['도로명전체주소'][temp[0]]

'강원도 홍천군 홍천읍 설악로 1475'

In [99]:
for i in range(len(vet)):
  temp = vet_original.index[vet_original['사업장명'] == vet['사업장명'][i]].tolist()
  if len(temp) == 1:
    vet['전체주소'][i] = vet_original['도로명전체주소'][temp[0]]
  elif len(temp) == 0:
    print('what the fuck!!!!!!!!!!!!!!!!!!!!!!!!')
  else:
    for j in range(len(temp)):
      temp_str = str(vet_original['도로명전체주소'][temp[j]])
      if temp_str.find(vet['Unnamed: 2'][i]) != -1 and temp_str.find(vet['Unnamed: 3'][i]) != -1 and temp_str.find(vet['Unnamed: 4'][i]) != -1:
        vet['전체주소'][i] = vet_original['도로명전체주소'][temp[j]]

In [100]:
vet = vet.reset_index(drop=True)
vet

,소재지전화,Unnamed: 2,Unnamed: 3,Unnamed: 4,사업장명,전체주소
0,033-435-7279,강원도,홍천군,홍천읍,다나아 동물병원,강원도 홍천군 홍천읍 설악로 1475
1,033-252-3205,강원도,춘천시,후석로,춘천철원화천양구축산업협동조합,강원도 춘천시 후석로440번길 10 (후평동)
2,없음,강원도,평창군,평창읍,동성가축병원,강원도 평창군 평창읍 문화길 66-3
3,없음,강원도,평창군,대관령면,국립축산과학원 한우연구소,"강원도 평창군 대관령면 경강로 4937, 한우시험장"
4,033-574-0075,강원도,삼척시,오십천로,삼척동물병원,강원도 삼척시 오십천로 558-1 (정상동)
...,...,...,...,...,...,...
4963,없음,충청북도,괴산군,사리면,김동물병원,충청북도 괴산군 사리면 문화2길 1
4964,없음,충청북도,괴산군,괴산읍,수암동물병원,충청북도 괴산군 괴산읍 임꺽정로 159
4965,043-847-7582,충청북도,충주시,형설로,용산동물병원,충청북도 충주시 형설로 54-11 (용산동)
4966,없음,충청북도,음성군,금왕읍,수아인동물병원,"충청북도 음성군 금왕읍 무극로309번길 52-3, 101호"
4967,없음,충청북도,청주시,흥덕구,원 동물병원,충청북도 청주시 흥덕구 상신로 138-68 (상신동)

In [101]:
for i in range(len(vet)):
  temp = str(vet['전체주소'][i])
  if temp.find(vet['Unnamed: 2'][i]) == -1 or temp.find(vet['Unnamed: 3'][i]) == -1 or temp.find(vet['Unnamed: 4'][i]) == -1:
    print(i)

1146
1442
1559
1570
1572
1743
1840
2687
4100
4264
4274
4289
4523
4808
4829
4961
4962

In [102]:
print(vet.iloc[1146])
temp_str = "경기도 양주시 고읍남로 14"
vet['전체주소'][1146] = temp_str
vet['Unnamed: 3'][1146] = "양주시"
vet['Unnamed: 4'][1146] = "고읍남로"
print(vet.iloc[1146])

소재지전화         031-924-0075
Unnamed: 2             경기도
Unnamed: 3             고양시
Unnamed: 4            일산서구
사업장명              해맑은 동물병원
전체주소
Name: 1146, dtype: object
소재지전화            031-924-0075
Unnamed: 2                경기도
Unnamed: 3                양주시
Unnamed: 4               고읍남로
사업장명                 해맑은 동물병원
전체주소          경기도 양주시 고읍남로 14
Name: 1146, dtype: object

In [107]:
print(vet.iloc[1442])
temp_str = "경상남도 창원시 마산회원구 합성동"
vet['전체주소'][1442] = temp_str
print(vet.iloc[1442])

소재지전화                 055-296-4400
Unnamed: 2                    경상남도
Unnamed: 3                     창원시
Unnamed: 4                   마산회원구
사업장명                        호박동물병원
전체주소          경상남도 거창군 거창읍 강변로 191
Name: 1442, dtype: object
소재지전화               055-296-4400
Unnamed: 2                  경상남도
Unnamed: 3                   창원시
Unnamed: 4                 마산회원구
사업장명                      호박동물병원
전체주소          경상남도 창원시 마산회원구 합성동
Name: 1442, dtype: object

In [113]:
print(vet.iloc[1572])
temp_str = "경상남도 사천시 중앙로 87"
vet['전체주소'][1572] = temp_str
print(vet.iloc[1572])

소재지전화             없음
Unnamed: 2      경상남도
Unnamed: 3       사천시
Unnamed: 4       중앙로
사업장명          노산동물병원
전체주소             NaN
Name: 1572, dtype: object
소재지전화                      없음
Unnamed: 2               경상남도
Unnamed: 3                사천시
Unnamed: 4                중앙로
사업장명                   노산동물병원
전체주소          경상남도 사천시 중앙로 87
Name: 1572, dtype: object

In [120]:
print(vet.iloc[1743])
temp_str = "경상북도 김천시 시민로 52"
vet['전체주소'][1743] = temp_str
print(vet.iloc[1743])

소재지전화                      없음
Unnamed: 2               경상북도
Unnamed: 3                김천시
Unnamed: 4                시민로
사업장명                금오산낙협동물병원
전체주소          경상북도 김천시 시민로 52
Name: 1743, dtype: object
소재지전화                      없음
Unnamed: 2               경상북도
Unnamed: 3                김천시
Unnamed: 4                시민로
사업장명                금오산낙협동물병원
전체주소          경상북도 김천시 시민로 52
Name: 1743, dtype: object

In [119]:
print(vet.iloc[1840])
temp_str = "경상북도 봉화군 봉화읍 내성로"
vet['전체주소'][1840] = temp_str
print(vet.iloc[1840])

소재지전화             없음
Unnamed: 2      경상북도
Unnamed: 3       봉화군
Unnamed: 4       봉화읍
사업장명          봉화가축병원
전체주소             NaN
Name: 1840, dtype: object
소재지전화                       없음
Unnamed: 2                경상북도
Unnamed: 3                 봉화군
Unnamed: 4                 봉화읍
사업장명                    봉화가축병원
전체주소          경상북도 봉화군 봉화읍 내성로
Name: 1840, dtype: object

In [122]:
print(vet.iloc[2687])
temp_str = "부산광역시 남구 수영로 213"
vet['전체주소'][2687] = temp_str
print(vet.iloc[2687])

소재지전화         051-621-8880
Unnamed: 2           부산광역시
Unnamed: 3              남구
Unnamed: 4             수영로
사업장명               조양래동물병원
전체주소                   NaN
Name: 2687, dtype: object
소재지전화             051-621-8880
Unnamed: 2               부산광역시
Unnamed: 3                  남구
Unnamed: 4                 수영로
사업장명                   조양래동물병원
전체주소          부산광역시 남구 수영로 213
Name: 2687, dtype: object

In [124]:
print(vet.iloc[4100])
temp_str = "전라남도 나주시 공산면 백두길 194"
vet['전체주소'][4100] = temp_str
print(vet.iloc[4100])

소재지전화            없음
Unnamed: 2     전라남도
Unnamed: 3      나주시
Unnamed: 4      공산면
사업장명          정동물병원
전체주소
Name: 4100, dtype: object
소재지전화                           없음
Unnamed: 2                    전라남도
Unnamed: 3                     나주시
Unnamed: 4                     공산면
사업장명                         정동물병원
전체주소          전라남도 나주시 공산면 백두길 194
Name: 4100, dtype: object

In [126]:
print(vet.iloc[4264])
temp_str = "전라북도 정읍시 벚꽃로 85"
vet['전체주소'][4264] = temp_str
print(vet.iloc[4264])

소재지전화             없음
Unnamed: 2      전라북도
Unnamed: 3       정읍시
Unnamed: 4       벚꽃로
사업장명          쿨펫동물병원
전체주소
Name: 4264, dtype: object
소재지전화                      없음
Unnamed: 2               전라북도
Unnamed: 3                정읍시
Unnamed: 4                벚꽃로
사업장명                   쿨펫동물병원
전체주소          전라북도 정읍시 벚꽃로 85
Name: 4264, dtype: object

In [128]:
print(vet.iloc[4274])
vet['전체주소'][4274] = "전라북도 순창군 순창읍 장류로 386"
print(vet.iloc[4274])

소재지전화         063-652-4007
Unnamed: 2            전라북도
Unnamed: 3             순창군
Unnamed: 4             순창읍
사업장명                 박동물병원
전체주소
Name: 4274, dtype: object
소재지전화                 063-652-4007
Unnamed: 2                    전라북도
Unnamed: 3                     순창군
Unnamed: 4                     순창읍
사업장명                         박동물병원
전체주소          전라북도 순창군 순창읍 장류로 386
Name: 4274, dtype: object

In [130]:
print(vet.iloc[4289])
vet['전체주소'][4289] = "전라북도 장수군 계남면 장무로 172"
print(vet.iloc[4289])

소재지전화             없음
Unnamed: 2      전라북도
Unnamed: 3       장수군
Unnamed: 4       계남면
사업장명          제일동물병원
전체주소
Name: 4289, dtype: object
소재지전화                           없음
Unnamed: 2                    전라북도
Unnamed: 3                     장수군
Unnamed: 4                     계남면
사업장명                        제일동물병원
전체주소          전라북도 장수군 계남면 장무로 172
Name: 4289, dtype: object

In [136]:
print(vet.iloc[4523])
vet['전체주소'][4523] = "제주특별자치도 제주시 연삼로 431"
print(vet.iloc[4523])

소재지전화         064-724-7582
Unnamed: 2         제주특별자치도
Unnamed: 3             제주시
Unnamed: 4             연삼로
사업장명                영인동물병원
전체주소
Name: 4523, dtype: object
소재지전화                064-724-7582
Unnamed: 2                제주특별자치도
Unnamed: 3                    제주시
Unnamed: 4                    연삼로
사업장명                       영인동물병원
전체주소          제주특별자치도 제주시 연삼로 431
Name: 4523, dtype: object

In [137]:
print(vet.iloc[4808])
vet['전체주소'][4808] = "충청남도 서산시 동헌로"
print(vet.iloc[4808])

소재지전화               없음
Unnamed: 2        충청남도
Unnamed: 3         서산시
Unnamed: 4         동헌로
사업장명          건국 대동물병원
전체주소               NaN
Name: 4808, dtype: object
소재지전화                   없음
Unnamed: 2            충청남도
Unnamed: 3             서산시
Unnamed: 4             동헌로
사업장명              건국 대동물병원
전체주소          충청남도 서산시 동헌로
Name: 4808, dtype: object

In [138]:
print(vet.iloc[4829])
vet['전체주소'][4829] = "충청북도 음성군 금왕읍 대금로 1421"
print(vet.iloc[4829])

소재지전화             없음
Unnamed: 2      충청북도
Unnamed: 3       음성군
Unnamed: 4       금왕읍
사업장명          현대동물병원
전체주소
Name: 4829, dtype: object
소재지전화                            없음
Unnamed: 2                     충청북도
Unnamed: 3                      음성군
Unnamed: 4                      금왕읍
사업장명                         현대동물병원
전체주소          충청북도 음성군 금왕읍 대금로 1421
Name: 4829, dtype: object

In [139]:
print(vet.iloc[4961])
vet['전체주소'][4961] = "충청북도 괴산군 괴산읍 읍내로2길 45-1"
print(vet.iloc[4961])

소재지전화               없음
Unnamed: 2        충청북도
Unnamed: 3         괴산군
Unnamed: 4         괴산읍
사업장명          김종하 동물병원
전체주소               NaN
Name: 4961, dtype: object
소재지전화                              없음
Unnamed: 2                       충청북도
Unnamed: 3                        괴산군
Unnamed: 4                        괴산읍
사업장명                         김종하 동물병원
전체주소          충청북도 괴산군 괴산읍 읍내로2길 45-1
Name: 4961, dtype: object

In [140]:
print(vet.iloc[4962])
vet['전체주소'][4962] = "충청북도 괴산군 불정면 목도로1길"
print(vet.iloc[4962])

소재지전화              없음
Unnamed: 2       충청북도
Unnamed: 3        괴산군
Unnamed: 4        불정면
사업장명          목도 동물병원
전체주소              NaN
Name: 4962, dtype: object
소재지전화                         없음
Unnamed: 2                  충청북도
Unnamed: 3                   괴산군
Unnamed: 4                   불정면
사업장명                     목도 동물병원
전체주소          충청북도 괴산군 불정면 목도로1길
Name: 4962, dtype: object

In [141]:
vet

,소재지전화,Unnamed: 2,Unnamed: 3,Unnamed: 4,사업장명,전체주소
0,033-435-7279,강원도,홍천군,홍천읍,다나아 동물병원,강원도 홍천군 홍천읍 설악로 1475
1,033-252-3205,강원도,춘천시,후석로,춘천철원화천양구축산업협동조합,강원도 춘천시 후석로440번길 10 (후평동)
2,없음,강원도,평창군,평창읍,동성가축병원,강원도 평창군 평창읍 문화길 66-3
3,없음,강원도,평창군,대관령면,국립축산과학원 한우연구소,"강원도 평창군 대관령면 경강로 4937, 한우시험장"
4,033-574-0075,강원도,삼척시,오십천로,삼척동물병원,강원도 삼척시 오십천로 558-1 (정상동)
...,...,...,...,...,...,...
4963,없음,충청북도,괴산군,사리면,김동물병원,충청북도 괴산군 사리면 문화2길 1
4964,없음,충청북도,괴산군,괴산읍,수암동물병원,충청북도 괴산군 괴산읍 임꺽정로 159
4965,043-847-7582,충청북도,충주시,형설로,용산동물병원,충청북도 충주시 형설로 54-11 (용산동)
4966,없음,충청북도,음성군,금왕읍,수아인동물병원,"충청북도 음성군 금왕읍 무극로309번길 52-3, 101호"
4967,없음,충청북도,청주시,흥덕구,원 동물병원,충청북도 청주시 흥덕구 상신로 138-68 (상신동)

In [142]:
vet.to_csv('fulldata_02_03_01_P_vet_v7.csv',encoding='utf-8')